@charset "UTF-8";

img,object{

max-height:100%;
max-width:100%;
}

.ui-content img{
margin-top:15%;
}

.ui-bar-inherit{
background-color:#00CED1!important;
border-color: #DDD;
color: #fff !important;
text-shadow:none !important;
}
.change{
background-color:#00CED1!important;
}
.ui-input-search{
background-color: #62CBDD !important
}
.ui-page{
background-color: #F3EFDB !important;
border-color: #E3D6D6;
color: #333;

}

#main-screen{
background: url('../image/start.jpg') no-repeat;
background-position: 20% 20%;
background-size: cover;
}


::-webkit-input-placeholder { /* WebKit browsers */
    color:#333 !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:#333 !important;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:#333 !important;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:#333 !important;
}
.ui-btn-icon-left:after, .ui-btn-icon-right:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after, .ui-btn-icon-notext:after{
background-color: rgba(17, 173, 173, 0.73)!important;
}
